<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href= "{{ url_for('static',filename='style.css') }}" rel="stylesheet" type="text/css" />
    <title> Event </title>
</head>

<header>
    

</header>

<body>
       	<!--start of nav-->
    <nav>
        <div class = "logo">
            <p> Find an event near you</p>
        </div>
    	<ul>
    		<li> <a href="home.html">Home</a></li>
    		<li> <a href="ticket.html">Tickets</a></li>
            <li> <a href="#">Login</a></li>
            <li> <a href="#">Signup</a></li>
    	</ul>
    </nav>

    <div class = "second"> <!--This is the first sentence.--></div>

</body>

</html>